@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/abeezee@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/abeezee@latest/latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
:root {
    --color-primario: #121214; 
    --color-secundario: #2fd335;
    --color-terciario: #008705;
    scrollbar-width: none;
  }
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #b61d7e 0%, #5d11c0 100%);
    color: white;
    font-family: ABeeZee;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    max-width: 1400px;
    margin: auto;
}
.navbar .logo {
    color: #f2f2f2;
    text-decoration: none;
}
.logo {
    aspect-ratio: 1/1;
    border-radius: 5px;
}
.logo:hover {
    box-shadow: 0px 0px 12px #3a5ff4;
}
.navbar {
    color: #f2f2f2;
    font-size: 20px;

}
.title {
    position: relative;
    display: inline-block;
}
.title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-secundario);
    bottom: 12px;
    left: 0;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: var(--color-secundario);
}

main {
    padding: 20px;
}
.new {
    background-color: #a72222;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 12px;
}
.notes {
    background-color: #a7229a;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 12px;
}
#actual {
    background-color: #000080;
    border-radius: 9px;
    padding: 20px;
    margin: 10px;
    width: 60dvw;
    transition: box-shadow 0.3s ease-in-out;
}
#pasado {
    background-color: #000028;
    border-radius: 9px;
    padding: 20px;
    margin: 10px;
    width: 60dvw;
    transition: box-shadow 0.3s ease-in-out;
}
#no {
    background-color: #000039;
    border: none;
    color: white; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
    pointer-events: none;
}
#actual:hover {
    box-shadow: 0px 0px 24px #3a5ff4;

}
#fecha {
    color: var(--color-secundario);
    font-weight: bold;
    font-size: 20px;
}
#ip {
    color: var(--color-secundario);
    cursor: pointer;
}
#ip:hover {
    color: #2323ca;
}

footer {
    background-color: #070319d4;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}
#si {
    background-color: #1c691e;
    border: none;
    color: white; 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 7px;
}

#si:hover {
    background-color: #a11111;
    color: white;
}
#ocultar {
    display: none;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro transparente */
    z-index: 1;
  }
  
  .modal-contenido {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border-radius: 10px;
    width: 50%;
    max-width: 400px;
    margin: 20% auto;
    padding: 20px;
  }
  
  .cerrar-modal {
    float: right;
    cursor: pointer;
  }
    .sticky-banner {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #008705;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(21, 249, 0, 0.591);
    font-size: 16px;
    z-index: 10;;
}
@media screen and (max-width: 600px) {
    #actual {
        width: 97dvw;
    }
    #actual:hover {
        box-shadow: none;
    }
    #pasado {
        width: 97dvw;
    }
    h1 {
        font-size: 37px;
    }
    footer {
        font-size: 15px;
        width: 95dvw;
    }
    #mostrar {
        display: none;
    }
    #ocultar {
        display: block;
    }
    .logo:hover {
        box-shadow: none;
    }
    footer {
        display: none;
    }
}